.ipynb_checkpoints
*.pyc
*.db
Untitled*
csvs_for_indexing*
draft*
glam-datasets-from-gov-portals-csvs-historical.csv
glam-datasets-from-gov-portals.csv.0*
*.sqlite
prov_csvs_for_indexing_checked.csv
prov_csvs_for_indexing.csv
public-records-office-victoria-victorian-world-war-one-soldier-settlers-2015-05-29.csv
sa_datasets_for_checking.csv
sa_passengers.csv
sa-passengers-in-history.ipynb
srnsw-indexes.csv
suffrage125_petition.json
csvs/*
2021-csvs/*
datasette/*
other_csvs/*
places/*
previous-csvs/*
prov_csvs/*
records/*
tas-deaths*
portraitau-20160705.xml
extra-prov-indexes.csv
.DS_Store
glam_datasets_from_datagovau.md
harvest_glam_datasets_from_datagovau.ipynb
git_all_versions_of
requirements.txt.old
metadata.json
update_version.sh
